.git {
  position: relative;
  grid-row: span 2;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 0.5rem;
  padding: 0 0 0 4rem;
  margin: 0 0 4rem 8rem;
  font-size: 1.8rem;
  font-weight: 700;
  list-style-type: none;
  color: hslaf($color-white, 0.8);
  border-left: ridge hslaf($color-grey-40, 1) 0.1rem;
  border-bottom: ridge hslaf($color-grey-40, 1) 0.1rem;
  border-top-style: hidden;
  border-right-style: hidden;

  @include gradient(
    background,
    to top right,
    hslaf($color-white, 0.05),
    hslaf($color-white, 0.1)
  );

  border-radius: $border-radius-sm;
  box-shadow: inset 0.1rem 0.1rem 0.5rem hslaf($color-black, 1);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 99;

  @media only screen and (max-width: 62.5em) {
    grid-column-start: 1;
    grid-row: unset;
    margin: 0;
  }

  &__container {
    min-height: 0;
    min-width: 0;
    overflow-y: scroll;
  }

  &__title {
    font-size: 2.5rem;
    margin: 0.5rem 0;

    &:hover > .tooltip--git {
      visibility: visible;
      opacity: 1;
    }

    & > a {
      color: hslaf($color-orange, 0.8);

      &:focus + .tooltip--git {
        visibility: visible;
        opacity: 1;
      }
    }

    &--new {
      font-size: 2.5rem;
      margin: 0.5rem 0;

      &:hover > .tooltip--git {
        visibility: visible;
        opacity: 1;
      }

      & > a {
        color: hslaf($color-white, 0.8);
        -webkit-text-stroke: 3px hslaf($color-red, 0.5);
        position: relative;

        &:focus + .tooltip--git {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__message {
    overflow: scroll;
  }
}
