// ['Title', 'URL', 'fontawesome 5.15 img'],
export const myBookmarks = [
    ['Arch', 'https://www.archlinux.org/', 'fab fa-linux'],
    ['AUR', 'https://aur.archlinux.org/', 'fab fa-linux'],
    ['ProtonDB', 'https://www.protondb.com/', 'fab fa-steam']
];

// Git token, otherwise limited to 60 hits per hour
export const gitToken = 'YOURTOKENHERE';

// Array of repos to check
// ['USER/REPO', 'BRANCH']
export const gitRepos = [
    ['Frogging-Family/linux-tkg', 'master'],
    ['Frogging-Family/nvidia-all', 'master'],
    ['LunarVim/LunarVim', 'rolling']
];

// Coordinates for WUnderground weather
export const lattitude = '99.99';
export const longitude = '-99.99';
export const station = 'KIADESMO91';
export const apiKey = 'YOURKEY'
export const units = 'e'
export const language = 'en-US'

// Monitorr URL, leave empty if not using
export const monitorrURL = '';

