// ['Title', 'URL', 'img'],
export const myBookmarks = [
    ['Arch', 'https://www.archlinux.org/', 'fab fa-linux'],
    ['AUR', 'https://aur.archlinux.org/', 'fab fa-linux'],
    ['ProtonDB', 'https://www.protondb.com/', 'fab fa-steam']
];

// Git token, otherwise limited to 60 hits per hour
export const gitToken = 'YOURTOKENHERE';

// Array of repos to check
// ['USER/REPO', 'BRANCH']
export const gitRepos = [
    ['Frogging-Family/linux-tkg', 'master'],
    ['Frogging-Family/nvidia-all', 'master'],
    ['linuxserver/docker-unifi-controller', 'master']
];

// Coordinates for weather
export const lattitude = '99.9999';
export const longitude = '-99.9999';

// Openweathermap appid
export const appid = 'YOURAPPIDHERE';

// Monitorr URL, leave empty if not using
export const monitorrURL = '';

