@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 11px;
}

header {
    height: 20px;
}

a {
    text-decoration: none;
    color: #e3bf81;
}

p {
    line-height: 20px;
    margin: 10px 0 25px 30px;
}

.container {
    float: left;
    margin: 0 50px 0 70px;
}

.bookmarks {
    margin: 15px 20px 0 20px;
    display: grid;
    padding: 0 10px 0px 10px;
    grid-gap: 1px;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(3, 150px);
}

.bookmarks .item {
    display: block;
    height: 140px;
    width: 140px;
}

.bookmarks .item-thumb {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px rgba(255, 255, 255, 0.9);
    border-style: ridge;
    border-radius: 5px;
    opacity: 0.7;
    justify-content: center;
}

.bookmarks .item-thumb .fas, .fab, .far {
    color: rgb(144, 144, 144);
    font-size: 70px;
    margin: 22px 0 0 0;
}

.bookmarks .item-title {
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #d4d4d4;
    text-align: center;
    letter-spacing: 1.1px;
}

.gRepos {
    display: flex;
    flex-flow: column;
    padding: 0 0 0 20px;
    margin: 0 40px 0 20px;
    font-size: 18px;
    list-style-type: none;
    color: #ecebe9;
    border-left-style: ridge;
    border-left-width: 1px;
    border-left-color: #aaa9ad;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    border-bottom-color: #aaa9ad;
    border-top-style: hidden;
    border-right-style: hidden;
    background: linear-gradient(to top right, rgba(255,255,255,0.05), rgba(255,255,255,0.1));
    border-radius: 20px;
    box-shadow: inset 1px 1px 5px #000000;
}

.rTitle {
    font-size: 20px;
    margin: 15px 0 0 0;
}

.wBox {
    display: flex;
    padding: 30px 0 0 40px;
}

.wCurrent {
    font-size: 50px;
    margin: 25px 20px 0 0;
}

.wCurrent .fas {
    font-size: 80px;
    opacity: 0.9;
    margin-top: 0px;
}

.wCurrent .cTemp {
    color: #d4d4d4;
    font-size: 25px;
    opacity: 0.9;
    padding-top: 15px;
}

.wForecast {
    display: flex;
    background: rgba(255,255,255,0.01);
    padding: 0 0 5px 0;
}

.fHead {
    text-transform: uppercase;
    border-bottom-style: ridge;
    border-bottom-color: darkgrey;
    border-bottom-width: 1px;
    font-size: 20px;
    font-weight: 800;
    color: #d4d4d4;
    padding: 10px;
}

.fInfo {
    text-align: center;
    color: #d4d4d4;
}

.fInfo .fas {
    display: block;
    margin: 0 auto;
    font-size: 35px;
    padding: 15px 0;
}

.fInfo .hDegrees {
    font-size: 20px;
    line-height: 24px;
    background-image: linear-gradient(to top left, rgba(0, 0, 255, 0.2), rgba(255, 0, 0, 0.2) 50%);
}

.fInfo .lDegrees {
    font-size: 20px;
    line-height: 24px;
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.2) 50%);
}

.fa-sun {
    color: rgba(255, 200, 50, 0.8);
}

.fa-moon {
    color: rgb(185, 185, 6);
}

.fa-cloud {
    color: rgb(161, 161, 161);
}

.fa-cloud-rain {
    color: rgba(102, 102, 234, 0.9);
}

.fa-cloud-showers-heavy {
    color: rgb(91, 80, 156);
}

.fa-snowflake {
    color: lightskyblue;
}

.fa-smog {
    color: darkgray;
}

.spacer {
    clear: both;
    height: 20px;
}

.monitorr {
    overflow: hidden;
    height: 313px;
    opacity: 0.7;
}

.imonitorr {
    height: 100%;
    width: 100%;
    border: none;
}

footer {
    height: 5px;
}

@media only screen and (max-width: 2000px) {
    .gRepos {
        font-size: 16px;
    }

    .rTitle {
        font-size: 18px;
    }

    .wBox {
        margin: -10px 0 -10px 10px;
    }
}

@media only screen and (max-width: 1600px) {

    .gRepos {
        font-size: 13px;
    }

    .rTitle {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1400px) {
    .gRepos {
        visibility: hidden;
        height: 0px;
    }
}

@media only screen and (max-width: 1050px) {
    .bookmarks {
        grid-template-columns: repeat(6, 110px);
        grid-template-rows: repeat(3, 110px);
    }

    .bookmarks .item {
        height: 100px;
        width: 100px;
    }

    .bookmarks .item-thumb .fas, .fab, .far {
        font-size: 50px;
        margin: 11px 0 0 0;
    }

    .bookmarks .item-title {
        display: block;
        padding: 0;
        margin: 10px 0 0 0;
        font-size: 14px;
    }
}
